<main class="dash-main">

    <!-- Próximo jogo -->
    <section class="card">
        <div class="match-image">
            <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuBk7VoK1RBsIVviOY34Qremq2_e_8saSmnXk4HwFUb5RYQlnVzhyt4Zkwi2txCOqgw3vvyEnWZuQodXgAgI7XYAiEPnaDY-MlkUhM0zgTSN66qAiopWflDpLqsbr6PpHq4zwr_FuXc6Ljy9z_jV_Mx7L-n6snNjst2dGLCBVjznaawVNnDo6Z9ehVr0ZmrZdtbgY6nPfO5bwnWQ60QrLnMgCAq2k7hZd1R1ukKIvagNcmQIxjqFeKGLq1gBA0dIE21a_R9EQEgplls"
                alt="Campo de futebol" />
        </div>

        <div class="match-content">
            <h2 class="match-title">
                Próximo Jogo: 25 de Outubro, 20:00a
            </h2>
            <p class="match-subtitle">
                Arena Esportiva - Campo 1<br />
                18/20 Jogadores Confirmados
            </p>

            <button class="primary-btn">
                Ver Detalhes do Jogo
            </button>

            <div class="match-stats row ">
                <div class="stat col d-flex justify-content-center align-items-center">
                    <div class="gp-label">
                        <span class="stat-label">Total de Jogadores</span>
                        <span class="stat-value">45</span>
                    </div>
                </div>
                <div class="stat col d-flex justify-content-center align-items-center">
                    <div class="gp-label">
                        <span class="stat-label">Custo Semanal</span>
                        <span class="stat-value">R$ 25,00</span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Ações rápidas -->
    <section class="quick-actions">
        <h3 class="section-title">Ações Rápidas</h3>

        <div class="quick-grid">

            <article class="quick-card">
                <div class="quick-image quick-image-players"></div>
                <div class="quick-body">
                    <h4>Gerenciar Jogadores</h4>
                    <p>Adicionar ou remover</p>
                </div>
            </article>

            <article class="quick-card">
                <div class="quick-image quick-image-notes"></div>
                <div class="quick-body">
                    <h4>Anotar Partida</h4>
                    <p>Resultados e notas</p>
                </div>
            </article>

            <article class="quick-card">
                <div class="quick-image quick-image-history"></div>
                <div class="quick-body">
                    <h4>Ver Histórico</h4>
                    <p>Jogos anteriores</p>
                </div>
            </article>

            <article class="quick-card">
                <div class="quick-image quick-image-finance"></div>
                <div class="quick-body">
                    <h4>Financeiro</h4>
                    <p>Ver pagamentos</p>
                </div>
            </article>

        </div>
    </section>
</main>