<div class="login-page">
    <div class="login-card">
  
      <div class="login-header">
        <div class="logo-icon">
          <span class="ball-inner"></span>
        </div>
        <span class="logo-text">FutApp</span>
      </div>
  
      <h1 class="title">Bem-vindo de volta!</h1>
      <p class="subtitle">
        Acesse sua conta para organizar o futebol.
      </p>
  
      <div class="login-actions">
        <!-- coloque (click)="login()" aqui se quiser -->
        <button class="google-btn" (click)="login()">
          <span>Entrar com Google</span>
        </button>
      </div>
    </div>
  </div>